body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
    position: sticky;  /* Add this */
    top: 0;  /* And this */
    z-index: 1;  /* Optional: this ensures the navbar stays on top of all other content */
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #b9e28c;
    color: black;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-top: auto;
    font-family: "Garamond"; /* This line sets the font to a generic serif font */
}


img{
    height: 200px;
    width: auto;
    align-items: center;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section-content {
    padding: 20px;
}

#introduction {
    background-color: #18394e;
    color: white;
}

#howitworks {
    background-color: #c7ccd1;
}

#services {
    background-color: #40acc9;
}

#trial {
    background-color: #e4e4e4;
}

.top-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 362px;
}

.nav-image {
    height: 25px;
    width: 151;
    padding: 10px;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}

.button {
    background-color: #40acc9;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
  }

  #photo-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-container {
    width: 45%; /* 50% is half the width, minus 10px for a bit of space */
    box-sizing: border-box; /* This makes sure that padding and border are included in the element's total width and height */
    text-align: center; /* Center the text within the element */
}


.photo-container img {
    max-width: 100%; /* This means the image can be as wide as its container but no wider */
    height: auto; /* This keeps the image's aspect ratio (its width-to-height ratio) the same as it scales */
}

.photo-container p {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    font-weight: bold;
    margin-top: 15px;
}

form input[type="text"], form input[type="email"], [type="textarea"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

#recordButton{
    background-color: #40acc9;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-blocc;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
}

form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
  }

  #top-section {
    display: flex;
    flex-direction: row; 
    align-items: center;
    background-color: #ffffff;
}

.top-image-container {
    flex: 1;
    margin-right: 20px; 
}

.top-text-container {
    flex: 1;
    text-align: left;
}

.top-image {
    max-width: 100%;
    height: auto;
}

.top-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
}

.top-links li {
    margin-right: 10px;
}

.top-links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
