body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
    position: sticky;  /* Add this */
    top: 0;  /* And this */
    z-index: 1;  /* Optional: this ensures the navbar stays on top of all other content */
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center; 
    text-align: center;
}

nav ul li {
    margin-left: 10px;
    text-align: center;
    padding: 5px 5px;
    white-space: nowrap
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #b9e28c;
    color: black;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-top: auto;
    font-family: "Garamond"; /* This line sets the font to a generic serif font */
}


img{
    height: 200px;
    width: auto;
    align-items: center;
}

section {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%
}

.section-content {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 15%
}

#introduction .section-content {
    background-color: #18394e;
    color: white;
}

#howitworks .section-content {
    background-color: #fff;
}

#services .section-content {
    background-color: #40acc9;
}

#trial .section-content {
    background-color: #e4e4e4;
}

.top-image {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 40vw; 
    height: auto; /* This will maintain the image's aspect ratio */
    display: block; /* This will remove any unwanted white space around the image */
    max-width: 100%; /* This will ensure the image doesn't overflow its parent container */
    }

.howitworks-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    height: auto; /* This will maintain the image's aspect ratio */
    display: block; /* This will remove any unwanted white space around the image */
    max-width: 100%; /* This will ensure the image doesn't overflow its parent container */
    }


.nav-image {
    max-width: 20%;
    height: auto;
    padding: 10px;
}

h2{
    text-align: left;
    font-size: 1.75em;
    font-style: italic;
}

h1{
    text-align: left;
    font-family: 'SalmaAlfaItalic', sans-serif;
}

.button {
    background-color: #40acc9;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    white-space: nowrap;
  }

  #photo-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-container {
    width: 45%; /* 50% is half the width, minus 10px for a bit of space */
    box-sizing: border-box; /* This makes sure that padding and border are included in the element's total width and height */
    text-align: center; /* Center the text within the element */
}


.photo-container img {
    width: 200px; /* Or any other fixed size */
    height: 200px; /* Or any other fixed size */
    object-fit: cover; /* This property ensures the aspect ratio of the image is maintained */
}


.photo-container p {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    font-weight: bold;
    margin-top: 15px;
}

form input[type="text"], form input[type="email"], [type="textarea"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

#recordButton{
    background-color: #40acc9;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
}

form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
  }

  #top-section {
    display: flex;
    flex-direction: row; 
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    padding: 10% 0 ;
}

.top-image-container {
    flex: 1 0 auto;
}

section.flex-row {
    display: flex;
    flex-direction: row;
}

.TitleofSite {
    font-size: 1.5em;
    text-align: left;
    margin: 0;
}

p {
    font-size: 1.3em; /* relative to the parent element's font size */
    font-family: 'SalmaAlfa', sans-serif;
}

.top-text-container .top-links {
    display: flex;
    justify-content: left;
    flex: 1 0 auto;
    align-items: flex-start;
    max-width: 100%;
    margin-right: 25px;
    gap: 10px; /* This is a shorthand for row-gap and column-gap, and it should provide the spacing you need between the items */
}

.top-text-container .top-links li {
    list-style: none; /* This will remove bullet points from the list */
}

.top-text-container .top-links li a {
    padding: 5px 10px; /* Adjusts size of the button around text */
    white-space: nowrap;
    display: inline-block; /* Allows padding to function properly */
    background-color: #007BFF; /* Change this to the color you want */
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 0.6em;
    justify-content: left;
    transition: background-color 0.2s ease; /* Makes color transition smooth when hovering */
}

.top-text-container .top-links li a:hover {
    background-color: #0056b3; /* Change this to the color you want when hovering */
}




/* Individual header button colors */
.top-text-container .top-links li.introduction-button a {
    background-color: #18394e; /* Example color */
    color: white
}

.top-text-container .top-links li.howitworks-button a {
    background-color: #c7ccd1; /* Example color */
}

.top-text-container .top-links li.services-button a {
    background-color: #40acc9; /* Example color */
}

.top-text-container .top-links li.trial-button a {
    background-color: #b9e28c; /* Example color */
}

.top-text-container .top-links li.introduction-button a:hover {
    background-color: #b9e28c; /* Example color */
    color: black
}

.top-text-container .top-links li.howitworks-button a:hover {
    background-color: #40acc9; /* Example color */
}

.top-text-container .top-links li.services-button a:hover {
    background-color: #c7ccd1; /* Example color */
}

.top-text-container .top-links li.trial-button a:hover {
    background-color: #18394e; /* Example color */
    color: white
}

@font-face {
    font-family: 'SalmaAlfa';
    src: url('SalmaAlfa.otf') format('opentype'),
  }

  @font-face {
    font-family: 'SalmaAlfaItalic';
    src: url('SalmaAlfaItalic.otf') format('opentype'),
  }