body {
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    min-height: 100vh;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

nav img {
    height: 20px;
    /* adjust as needed */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

img{
    height: 200px;
    width: auto;
    align-items: center
}

section {
    height: 10vh;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#introduction {
    background-color: #f9f9f9;
}

#howitworks {
    background-color: #f2f2f2;
}

#services {
    background-color: #ebebeb;
}

#trial {
    background-color: #e4e4e4;
}

.top-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
}

h2{
    text-align: center;
    
}